___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd

In [2]:

df=pd.read_csv('EcommercePurchases.csv')

**Check the head of the DataFrame.**

In [3]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [6]:
df.info

<bound method DataFrame.info of                                                 Address    Lot AM or PM  \
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  46 in       PM
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  28 rn       PM
2                      Unit 0065 Box 5052\nDPO AP 27450  94 vE       PM
3                 7780 Julia Fords\nNew Stacy, WA 45798  36 vm       PM
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  20 IE       AM
5     7502 Powell Mission Apt. 768\nTravisland, VA 3...  21 XT       PM
6        93971 Conway Causeway\nAndersonburgh, AZ 75107  96 Xt       AM
7     260 Rachel Plains Suite 366\nCastroberg, WV 24...  96 pG       PM
8               2129 Dylan Burg\nNew Michelle, ME 28650  45 JN       PM
9       3795 Dawson Extensions\nLake Tinafort, ID 88739  15 Ug       AM
10        650 Elizabeth Park\nLake Maria, LA 13526-2530  65 Yn       PM
11               349 Laurie Parks\nThomasview, ID 08970  30 kK       PM
12      733 Heather Rest Apt. 670\nBoltonport, UT 78662  69 DO       AM
13    118 Melton Via Suite 681\nAlexanderbury, FL 32104  36 bu       PM
14    8774 Jason Keys Suite 427\nEast Scottborough, ...  70 zH       AM
15       31730 Chelsea Crest\nBlakemouth, CT 90395-0620  41 Cj       PM
16    5283 Thomas Trafficway Suite 343\nEast Brittne...  31 ho       AM
17    950 Jacqueline Village Apt. 592\nPort Kimberly...  23 Rh       PM
18    461 Christopher Square\nWest Michaelchester, C...  17 SB       PM
19                  125 Hall Summit\nBoothton, IL 41721  99 CU       PM
20        7383 George Village\nLake Jamesview, CO 79828  23 dk       PM
21    282 Miller Valleys Suite 404\nWilkinsonbury, M...  24 RZ       AM
22     625 Laura Summit Suite 112\nShortmouth, AK 97156  45 oa       PM
23    25292 Shepherd Trail Apt. 798\nRussellmouth, S...  31 pS       PM
24                Unit 3046 Box 3197\nDPO AE 61496-4172  62 Ac       AM
25    80797 Ryan Trail Apt. 752\nAaronhaven, MI 0622...  66 SO       PM
26          5334 Sheppard Fort\nNorth Kirsten, ND 71170  40 ND       AM
27           5015 Smith Harbors\nSouth Ashley, OK 81283  34 JQ       PM
28    50533 Cooper Cliffs\nNorth Jonathanberg, MD 20482  17 kP       PM
29    30755 Joshua Plaza Apt. 567\nWest Susanton, FM...  93 OP       PM
...                                                 ...    ...      ...
9970              0060 Keith Stream\nWestport, CO 47097  11 nt       PM
9971  5806 Martinez Point\nLake Abigailstad, MD 6183...  07 wl       AM
9972  89504 Flynn Overpass Suite 822\nNew Elijah, WV...  23 eL       AM
9973     92126 Daniel Streets\nNorth Patricia, IA 10477  04 QN       PM
9974     500 Powell Rapid Apt. 114\nClarkfort, FL 70488  48 is       AM
9975  5208 Hanson Trail Suite 527\nSouth Jonathanshi...  67 OX       PM
9976  5419 Cruz Island Apt. 033\nLake Todd, AK 24863...  93 FM       PM
9977  02182 Keith Expressway\nEast Shannon, CT 20578...  34 RL       AM
9978   991 Watts Court\nSouth Danielstad, IA 39032-8865  66 eb       AM
9979  00490 Joseph Haven Apt. 149\nWest Keithfurt, S...  69 XK       PM
9980           6061 Dave Lights\nPhillipsview, UT 40500  25 Mv       AM
9981  087 Larson Roads Apt. 587\nRicestad, WI 98077-...  95 Kw       AM
9982  18044 Mcintosh Row Apt. 122\nLake Jennifer, NC...  77 uq       PM
9983              PSC 5678, Box 4503\nAPO AP 94998-5546  79 cd       AM
9984       7560 Boyle Keys\nAntoniomouth, DC 00522-0367  72 Qb       AM
9985              7456 Stevens Rest\nEricside, FL 16389  27 Yv       PM
9986  2719 Troy Drive Suite 062\nLisachester, PW 414...  80 Wl       PM
9987     2754 Klein Mission\nJohnsonview, PA 64925-9624  65 Fg       PM
9988      0154 Green Forest\nNew Timothy, IL 33670-4620  11 MC       AM
9989         5674 Cruz Trace\nNew Shelby, KY 51047-5469  12 Kf       AM
9990  75731 Molly Springs\nWest Danielle, VT 96934-5102  93 ty       PM
9991              PSC 8165, Box 8498\nAPO AP 60327-0346  50 dA       AM
9992  885 Allen Mountains Apt. 230\nWallhaven, LA 16995  40 vH       PM
9993  7555 Larson Locks Suite 229\nEllisburgh, MA 34...  72 jg       PM
9994       6276 Rojas Hollow\nLake Louis, WY 56410-7837  93 Ex       PM
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  92 XI       PM
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  41 JY       AM
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  74 Zh       AM
9998               0096 English Rest\nRoystad, IA 12457  74 cL       PM
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  64 Hr       AM

                                           Browser Info  \
0     Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1     Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2     Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3     Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4     Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...
5     Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...
6     Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...
7     Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...
8     Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
9     Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...
10    Mozilla/5.0 (iPod; U; CPU iPhone OS 4_1 like M...
11    Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...
12    Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...
13    Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...
14    Mozilla/5.0 (Windows 98; it-IT; rv:1.9.2.20) G...
15    Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....
16    Opera/9.73.(Windows NT 6.2; sl-SI) Presto/2.9....
17    Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
18    Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...
19    Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...
20    Mozilla/5.0 (Windows; U; Windows NT 4.0) Apple...
21    Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...
22    Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...
23    Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...
24    Mozilla/5.0 (compatible; MSIE 6.0; Windows CE;...
25    Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_1...
26    Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...
27    Opera/9.75.(Windows NT 6.0; en-US) Presto/2.9....
28    Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...
29    Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_7...
...                                                 ...
9970  Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...
9971  Mozilla/5.0 (X11; Linux i686) AppleWebKit/5360...
9972  Mozilla/5.0 (Windows NT 5.1; en-US; rv:1.9.2.2...
9973  Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...
9974  Mozilla/5.0 (Windows 95) AppleWebKit/5312 (KHT...
9975  Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_7_8...
9976  Opera/9.38.(Windows NT 5.01; it-IT) Presto/2.9...
9977  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
9978  Mozilla/5.0 (Macintosh; PPC Mac OS X 10_7_3; r...
9979  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...
9980  Opera/8.58.(Windows NT 5.0; it-IT) Presto/2.9....
9981  Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...
9982  Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_0...
9983  Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...
9984  Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....
9985  Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
9986  Mozilla/5.0 (Windows NT 5.2; sl-SI; rv:1.9.1.2...
9987  Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...
9988  Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...
9989  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
9990  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...
9991  Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...
9992  Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...
9993  Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...
9994  Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...
9995  Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...
9996  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
9997  Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
9998  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...
9999  Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...

                               Company       Credit Card CC Exp Date  \
0                      Martinez-Herman  6011929061123406       02/20
1      Fletcher, Richards and Whitaker  3337758169645356       11/18
2           Simpson, Williams and Pham      675957666125       08/19
3      Williams, Marshall and Buchanan  6011578504430710       02/24
4            Brown, Watson and Andrews  6011456623207998       10/25
5                       Silva-Anderson    30246185196287       07/25
6                      Gibson and Sons  6011398782655569       07/24
7                     Marshall-Collins      561252141909       06/25
8                    Galloway and Sons   180041795790001       04/24
9         Rivera, Buchanan and Ramirez     4396283918371       01/17
10    Strickland, Michael and Gonzales   180036417827355       02/17
11                          Kim-Oliver   869975209012056       06/26
12                        Moore-Martin  5115990487067905       05/26
13                          Keller PLC  4603635169938574       01/25
14            Leach, Howe and Ferguson   869967499275071       09/22
15                       Garcia-Steele   180069437020404       04/25
16     Stanton, Villanueva and Swanson      676121145525       06/22
17       Fernandez, Melton and Gilbert  3337515540944084       01/26
18              Beard, Abbott and Pena  6011350184276270       12/22
19                     Turner-Mckinney      676343504830       02/20
20          Santana, Montes and Pierce  6011833038852776       03/22
21                        Guzman-Reese  5491255326230898       03/25
22                         Burnett Ltd  3158663456056588       07/22
23                            Cruz Inc      502010078983       02/23
24                          Morris PLC  4749728852401144       07/18
25                     Saunders-Mendez   869938033091779       05/19
26         Stephens, Johnson and Combs       60488441233       03/19
27            Levine, Shaw and Jenkins   869948145612941       12/16
28                            Reed Inc   180026477662982       11/24
29                         Goodwin Ltd  4170734785397597       07/22
...                                ...               ...         ...
9970          Carpenter, Good and Hart  6011485664704662       07/19
9971                     Brewer-Howard  5359660631103048       01/21
9972              Davis, Wise and Diaz   370589883240776       04/22
9973                        Morrow Inc      501850922854       02/19
9974                     Griffin-Lopez      630407297302       04/26
9975                      Bowen-Nelson  5361597780221625       01/19
9976                  Henderson-Kelley  4458996242274056       08/21
9977       Deleon, Jacobson and Benton  4186094003664688       06/21
9978                       Perez Group  3088185172584201       11/21
9979                   Randall-Ramirez   346734838013255       10/23
9980                       Cortez-Frye  6011944199756993       12/24
9981          Ortiz, Schultz and Adams     4690863684605       01/19
9982                          Chen LLC   210040992311995       09/18
9983                        Hall-Cantu   343856674589081       04/23
9984                    Johnson-Brandt  3088208142188125       03/21
9985                       Murphy-Cook  6011264939622870       08/21
9986                   Campbell-Hurley  4220882411745414       08/18
9987                        Curtis LLC   180027305702263       12/24
9988                   Williams-Walker  4207292109379681       10/16
9989      Vargas, Nichols and Martinez  5278049688438382       12/23
9990        Pace, Vazquez and Richards   869968197049750       04/24
9991                        Snyder Inc  4221582137197481       02/24
9992                         Wells Ltd  4664825258997302       10/20
9993                    Colon and Sons    30025560104631       10/25
9994                      Ritter-Smith  3112186784121077       01/25
9995                     Randall-Sloan   342945015358701       03/22
9996          Hale, Collins and Wilson   210033169205009       07/25
9997                      Anderson Ltd  6011539787356311       05/21
9998                          Cook Inc   180003348082930       11/17
9999                        Greene Inc  4139972901927273       02/19

      CC Security Code                  CC Provider  \
0                  900                 JCB 16 digit
1                  561                   Mastercard
2                  699                 JCB 16 digit
3                  384                     Discover
4                  678  Diners Club / Carte Blanche
5                 7169                     Discover
6                  714                VISA 16 digit
7                  256                VISA 13 digit
8                  899                 JCB 16 digit
9                  931             American Express
10                 754                      Voyager
11                9717                 JCB 15 digit
12                 119                VISA 16 digit
13                 557                VISA 16 digit
14                 427                VISA 16 digit
15                 404  Diners Club / Carte Blanche
16                 285  Diners Club / Carte Blanche
17                 771             American Express
18                 767                   Mastercard
19                 440                VISA 16 digit
20                 740                      Maestro
21                 506                 JCB 16 digit
22                 508                     Discover
23                  60                VISA 13 digit
24                  11                 JCB 15 digit
25                 901                      Voyager
26                  70                VISA 13 digit
27                 310  Diners Club / Carte Blanche
28                  16                 JCB 15 digit
29                 319                      Maestro
...                ...                          ...
9970               543                     Discover
9971               586                      Voyager
9972               748                VISA 13 digit
9973              2708             American Express
9974               627                VISA 16 digit
9975               225                 JCB 16 digit
9976               291                VISA 16 digit
9977               397                 JCB 16 digit
9978               589                     Discover
9979               224                 JCB 16 digit
9980               755                 JCB 15 digit
9981               695                   Mastercard
9982                79                 JCB 16 digit
9983               206                 JCB 16 digit
9984               572                      Maestro
9985               847                VISA 16 digit
9986               460                 JCB 16 digit
9987               865                   Mastercard
9988               571  Diners Club / Carte Blanche
9989               996                VISA 16 digit
9990               877                 JCB 15 digit
9991               969                      Voyager
9992               431                     Discover
9993               629                      Maestro
9994              1823                      Maestro
9995               838                 JCB 15 digit
9996               207                 JCB 16 digit
9997                 1                VISA 16 digit
9998               987             American Express
9999               302                 JCB 15 digit

                                  Email  \
0                     pdunlap@yahoo.com
1                    anthony41@reed.com
2        amymiller@morales-harrison.com
3           brent16@olson-robinson.info
4           christopherwright@gmail.com
5                     ynguyen@gmail.com
6                    olivia04@yahoo.com
7                  phillip48@parks.info
8                  kdavis@rasmussen.com
9              qcoleman@hunt-huerta.com
10                 ustewart@hotmail.com
11             johnnymiller@coleman.com
12                    tholt@hotmail.com
13                  caitlin57@yahoo.com
14                     aburns@yahoo.com
15                   amanda39@yahoo.com
16          griffincatherine@wilson.com
17               stacymitchell@hall.com
18                   hannah63@yahoo.com
19                 ruiznicole@gmail.com
20               zstephenson@smith.info
21                   rsmith@hotmail.com
22            chambersmichael@gmail.com
23          ltaylor@gardner-meadows.com
24                    james07@yahoo.com
25                 madison41@mooney.com
26                     mlogan@gmail.com
27                michael35@hotmail.com
28                khandeborah@yahoo.com
29                 stonekaren@yahoo.com
...                                 ...
9970            rangelbrian@hotmail.com
9971          leslierichards@warner.org
9972              kellycole@hotmail.com
9973                   rlewis@yahoo.com
9974                  paula72@yahoo.com
9975               taylordiaz@roman.net
9976                   pbrown@gmail.com
9977             daltoncarter@yahoo.com
9978                 ywhite@hotmail.com
9979                 qjohnson@yahoo.com
9980           mark74@kirby-stewart.org
9981         laurenbennett@richards.com
9982                heather24@gmail.com
9983  jacksonmanuel@rodriguez-welch.com
9984              clee@vasquez-luna.com
9985               cranejames@white.com
9986           belindaleon@schwartz.com
9987           denisehamilton@novak.biz
9988             hudsonmichael@pace.com
9989         walterswilliam@hotmail.com
9990        andersonmichael@sherman.biz
9991                 kking@wise-liu.com
9992                  bberry@wright.net
9993          chelseawilliams@lopez.biz
9994                 iroberts@gmail.com
9995             iscott@wade-garner.com
9996                 mary85@hotmail.com
9997                  tyler16@gmail.com
9998            elizabethmoore@reid.net
9999              rachelford@vaughn.com

                                         Job       IP Address Language  \
0     Scientist, product/process development  149.146.147.205       el
1                          Drilling engineer     15.160.41.51       fr
2                   Customer service manager   132.207.160.22       de
3                          Drilling engineer     30.250.74.19       es
4                                Fine artist     24.140.33.94       es
5                          Fish farm manager    55.96.152.147       ru
6                                     Dancer   127.252.144.18       de
7                            Event organiser   224.247.97.150       pt
8                          Financial manager  146.234.201.229       ru
9                         Forensic scientist    236.198.199.8       zh
10             Development worker, community       26.59.93.1       el
11                   Diagnostic radiographer   128.222.40.234       en
12                        Surveyor, quantity   236.71.234.240       en
13      Accountant, chartered public finance     84.212.92.11       it
14                             Acupuncturist      50.25.148.1       de
15                            Retail manager    53.176.235.33       el
16                            Therapist, art     8.145.170.52       de
17                       Designer, jewellery    223.25.125.61       el
18                              Photographer   73.250.176.201       el
19                Designer, interior/spatial   25.105.209.214       fr
20                  Public relations officer    250.71.54.180       de
21                   Presenter, broadcasting    125.58.66.253       it
22                            Retail manager    65.106.61.141       en
23                        Field seismologist   25.193.145.116       ru
24                                  Musician   21.113.231.220       es
25          Training and development officer    67.26.186.226       de
26                         Barrister's clerk   61.197.134.185       en

** What is the average Purchase Price? **

In [8]:
df['Purchase Price'].mean()

50.347301999999999

** What were the highest and lowest purchase prices? **

In [9]:
df['Purchase Price'].max()

99.989999999999995

In [10]:
df['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [13]:
df[df['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

** How many people have the job title of "Lawyer" ? **

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
Address             30 non-null object
Lot                 30 non-null object
AM or PM            30 non-null object
Browser Info        30 non-null object
Company             30 non-null object
Credit Card         30 non-null int64
CC Exp Date         30 non-null object
CC Security Code    30 non-null int64
CC Provider         30 non-null object
Email               30 non-null object
Job                 30 non-null object
IP Address          30 non-null object
Language            30 non-null object
Purchase Price      30 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [14]:
df[df['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [15]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [21]:
df['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

513    75.1
Name: Purchase Price, dtype: float64

In [29]:
df[df['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [32]:
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [42]:
sum(df[df['CC Provider']=='American Express']['Purchase Price']>95)

39

** Hard: How many people have a credit card that expires in 2025? **

1033

In [51]:
def findYear(year):
    if '25' in year.split():
        return True
    else:
        return False
    

df['CC Exp Date']==2025['CC Exp Date'].apply(lambda x:findYear(x))

TypeError: 'int' object is not subscriptable

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!